body {
    font: Arial;
    overflow-x: hidden;
}

ul {
    padding: 0px;
}

li {
    display: inline-block;
    padding: 5px;
}

h1 {
    margin: 0;
    font-size: 64px;
    padding-bottom: 40px;
    color: white;
}

h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    padding: 0 40px 0 40px;
}

input {
    border: 0;
    color: grey;
    margin: 10px;
    margin-top: 30px;
    width: 45%;
    height: 25px;
}

.header {
    background-color: black;
    width: 100vw;
}

.list {
    text-align: right;
    margin-right: 5%;
    padding: 8px;
}

.headlist {
    padding-inline: 2%;
}

.button {
    color: white;
    margin-right: 2%;
    margin-left: 2%;
    padding: 3px 9px 3px 9px;
    font-size: 16px;
    background-color: black;
    border-radius: 3px;
    text-align: center;
}

.headlist .button:hover {
    background: linear-gradient(286.3deg, #337BE6 36.42%, rgba(88, 176, 240, 0.26) 130.9%);
}

.active {
    background: linear-gradient(286.3deg, #337BE6 36.42%, rgba(88, 176, 240, 0.26) 130.9%);
}

.button1 {
    background-color: #337be6;
}

.logo {
    height: 100px;
    top: 0;
    background-color: #1a69e0;
    width: 130px;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 35px;
    font-size: 24px;
    left: 8%;
    position: absolute;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 0px 2px 2px #1a69e0;
}

.footbar {
    padding-top: 88px;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
}

.footer {
    width: 80vw;
    display: inline-block;
    margin: 0 auto;
}

.top {
    display: flex;
}

.left-side {
    flex: 1;
    width: 35vw;
    text-align: left;
    margin-right: 5%;
    font-size: 18px;
}

.signature {
    padding: 0;
}

.right-side {
    flex: 1;
    width: 35vw;
    text-align: justify;
    font-size: 18px;
    margin-left: 15%;
}

.icons {
    padding-top: 50px;
    border-bottom: solid;
    padding-bottom: 50px;
}

.icon {
    border-radius: 100%;
    margin: 3%;
    padding: 0;
    width: 3%;
}

.designed-by {
    padding: 30px;
}

.page {
    background: linear-gradient(97.73deg, #012253 42.35%, #010f28 96.47%);
    background-image: url("./images/Vector group.png"),
        url("./images/men-with-football.png");
    background-repeat: no-repeat, no-repeat;
    background-position: -1%, 61vw;
    height: 90vh;
    width: 100vw;
}

.main {
    padding: 6% 15%;
    width: 60vw;
    font-size: 24px;
    color: white;
}

.bg-image-home {
    background-image: url('./images/Player\ of\ the\ year.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800px;
}

.photos {
    position: absolute;
    top: 90vh;
    padding-left: 15%;
}

#arrow {
    position: absolute;
    left: 160px;
    z-index: 1;
}

.about {
    display: flex;
    background: linear-gradient(276.37deg, #01112a 59.06%, #0b2353 88.27%);
    background-repeat: no-repeat;
    color: white;
    padding: 15% 6% 6% 6%;
}

.about1 {
    width: 40vw;
    background-image: url("./images/Vector\ 64.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.text {
    flex: 1;
    padding-left: 10%;
}

.head {
    color: #5be1ff;
    background: #01112a;
    border: 3px solid #082560;
    border-radius: 8px;
    padding: 3%;
    font-size: 24px;
    width: max(100px, 35%);
    border-radius: 10%;
}

.desc {
    padding: 5% 0 5% 0;
    width: 80%;
    text-align: justify;
}

.random {
    color: #034ebe;
    padding: 3%;
    font-size: 24px;
    border-width: 2px 1px 1px 2px;
    border-style: solid;
    border-color: #034ebe;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: max(120px, 31%);
    border-radius: 10%;
}

.contact {
    background-color: #01112a;
    color: white;
    display: flex;
}

.contactleft {
    margin: 10% 5% 10% 10%;
    padding: 3%;
    background: rgba(2, 22, 61, 0.76);
    box-shadow: 0px 0px 16px rgba(255, 74, 66, 0.56);
    color: white;
    text-align: center;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px;
    width: 60%;
    background-image: url('./images/Ellipse17.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.contactinfo {
    font-size: 32px;
    margin: 0;
}

.contact-flex {
    display: flex;
    padding-left: 40px;
    line-height: 0.3;
}

.contact-flex img {
    width: 10px;
    height: 20px;
    padding: 0;
    margin-top: 10px;
}
#phone-img{
    margin-top: 18px;
}
.detail-contact {
    padding-left: 15px;
}


.sports {
    margin-bottom: 0;
    font-size: 24px;
    margin-left: -40%;
}

.getintouch {
    text-align: center;
    margin: auto auto auto auto;
    padding: 2%;
    margin: 10% 10% 10% 5%;
}

.get-in-touch {
    color: #04d9ff;
    font-size: 32px;
    background-image: url('./images/Get\ IN\ Touch.png');
    background-repeat: no-repeat;
    background-size: 435px;
    background-position: center;
}

.aboutinfo {
    font-size: 24px;
}

textarea {
    width: 90%;
    margin-top: 20px;
    height: 20vh;
    font: Arial grey;
    resize: none;
}

.submit {
    color: white;
    background: linear-gradient(0deg, rgba(0, 46, 208, 0.15), rgba(0, 46, 208, 0.15)), linear-gradient(180deg, #579AFF 0%, #3066BE 100%);
    box-shadow: 0px 2px 4px rgba(57, 114, 205, 0.2), inset 0px -4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(249, 247, 243, 0.25);
    width: max(70px, 15%);
    font-size: 24px;
    height: 7vh;
    float: right;
    width: 8vw;
    border-radius: 10px;
    padding: 8px 16px;
    margin: 20px;
    cursor: pointer;
}

.icon-contact {
    margin-right: 135px;
    margin-top: 30%;
}
#design{
    position: absolute;
    top:268%;
    left: 32%;
}

.icon1 {
    border-radius: 100%;
    padding: 16px;
    width: 60px;
}

.button:hover {
    background: linear-gradient(286.3deg,
            #337be6 36.42%,
            rgba(88, 176, 240, 0.26) 130.9%);
}

.input-css::placeholder {
    font-family: Arial;
    padding: 10px;
}



.input-css {
    border-color: #032364;
    box-shadow: 0px 0px 10px #03215E;
    border-radius: 4px;
}

.footer-desc{
    margin-top:-120px;
}