.bg-image {
    position: absolute;
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    background-image: url(./images/event-bg.png);
    background-color: #000000;
    opacity: 0.5;
    z-index: -1;
}

.title {
    position: absolute;
    margin: auto;
    width: 80%;
    height: 10vh;
    left: 10%;
    top: 10vh;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 5rem;
    line-height: 10vh;
    color: #ffffff;
    text-align: center;
}

.navbar {
    position: relative;
    top: 40vh;
    padding: 1rem;
    color: #ffffff;
    border: 2px solid #21243f;
    border-radius: 75px;
    background: linear-gradient(45deg, #21243f 0%, #263052 52.7%, #0d122f 100%);
    text-align: center;
}

.navlist {
    padding: 0.5rem;
}

ul li {
    display: inline-block;
    padding: 0.5rem;
}

.event .navbar ul li ~ li {
    border-left: 1px solid white;
}

.images {
    padding: 0;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 0px 20px #022b7b);
    border-radius: 8px;
    margin: auto;
    left: 0;
    right: 0;
    top: 20vh;
}



.container1 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60vh;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}

.column {
    width: 100%;
    padding: 1rem;
    float: none;
}

.container2 {
    margin-top: 80vh;
}

.center {
    text-align: center;
}

.empty {
    height: 20vh;
}

.flip-card {
    background-color: transparent;
    width: 22rem;
    height: 15rem;
    border: 1px none #f1f1f1;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-back {
    height: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background: #ffffff;
    border: 5px solid #022b7b;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #022b7b;
    transform: rotateY(180deg);
}
.sub-title {
    padding-top: 15px;
}
.btn {
    background: #022b7b;
    border-radius: 34px;
    border-style: none;
    color: white;
    height: 3rem;
    width: 10rem;
}
