.bg-image {
    position: absolute;
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
    left: 8px;
    top: 90px;
    background-image: url(./images/event-bg.png);
    background-color: #000000;
    opacity: 0.5;

}

.title {
    position: absolute;
    margin: auto;
    width: 50%;
    height: 20px;
    left: 34rem;
    top: 95px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 145px;
    line-height: 20px;
    color: #FFFFFF;
}

.navbar {
    position: absolute;
    top: 30rem;
    left: 34rem;
    padding: 0px 35px 0px 35px;
    color: #FFFFFF;
    border: 2px solid #21243F;
    border-radius: 75px;
    background: linear-gradient(45deg, #21243F 0%, #263052 52.7%, #0D122F 100%);
}

.navlist {
    padding: 0px 33px 0px 34px;
}

body {
    background-color: #080404;
}

ul li {
    display: inline-block;
    padding: 0 10px 0px 10px;
}

ul li~li {
    border-left: 1px solid white;
}

.images {
    position: absolute;
    width: 22rem;
    height: 15rem;
    border: 5px solid #FFFFFF;
    filter: drop-shadow(0px 0px 20px #022B7B);
    border-radius: 8px;
}

* {
    box-sizing: border-box;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.container1 {
    margin-top: 33rem;
    padding-left: 12%;
}

.column {
    width: 33.33%;
    padding: 10px;
    float: left;
}

.container2 {
    margin-top: 53rem;
}

.center {
    margin-left: 40rem;
}

.empty {
    height: 80vh;
}

.flip-card {
    background-color: transparent;
    width: 22rem;
    height: 15rem;
    border: 1px none #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background: #FFFFFF;
    border: 5px solid #022B7B;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #022B7B;
    transform: rotateY(180deg);
}
.sub-title{
    padding-top: 15px;
}
.btn {
    background: #022B7B;
    border-radius: 34px;
    border-style: none;
    color:white;
    height:3rem;
    width:10rem;
}