
.gallery-bg {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    background-image: url(./images/event-bg.png);
    background-color: #000000;
    opacity: 0.5;
    z-index: -1;
}


.heading-gallery {
    color: white;
    text-align: center;
    margin-top: 5vh;
    padding: 0 2rem;
}


.heading1 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}


.view-bg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: -2rem;
}

.tobehead {
    margin-top: 74px;
}


.content-gallery {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.4;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: justify;
}


.carousel {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}


.carousel-root {
    margin-top: 10vh;
}


.carousel .slide {
    height: 60vh;
}

.carousel .slide img {
    max-height: 100%;
    max-width: 100%;
}


.image {
    margin: 0 auto;
    margin-top: 5vh;
    height: 100%;
    width: 80%;
}


.carousel-status,
.thumb,
.control-dots {
    display: none;
}


.rectangle-right {
    display: none;
}

.rectangle-left {
    display: none;
}


@media screen and (max-width: 768px) {
    
    .heading1 {
        font-size: 2rem;
    }

    .content-gallery {
        font-size: 1.4rem;
    }

    
    .carousel .slide {
        height: 50vh;
    }

    
    .image {
        width: 100%;
    }
}