.heading {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #5be1ff;
    text-align: center;
    margin-top: 90px;
}
* {
    box-sizing: border-box;
}

body {
    background-color: #0c142c;
}

.bg-image-team {
    position: absolute;
    background-image: url(./images/Team-bg.png);
    background-color: transparent;
    background-repeat: no-repeat;
    margin-top: 8.3rem;
    margin-left: 25rem;
    height: 100%;
    width: 100%;
}

.team-images {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    width: 70%;
}

.shadow {
    filter: drop-shadow(0px 0px 20px #022b7b);
}

.flex-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.flex-container .team-images {
    margin-left: 86px;
    margin-bottom: 70px;
}

.box {
    background-color: #243346;
    width: 220px;
    margin-top: -110px;
    margin-left: 134px;
    z-index: 2;
    position: absolute;
    height: 66px;
    color: white;
    line-height: 0.5;
    text-align: center;
}

.name {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 14px;
}

.post {
    font-weight: 400;
    font-size: 15px;
}
